<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="Gocator/Black">
        <color rgba="0.1 0.1 0.1 1.0"/>
    </material>

    <!-- Just the bounding box of the gocator -->
    <xacro:macro name="gocator_3109" params="parent name">
        <joint name="${parent}_${name}_anchor" type="fixed">
            <parent link="${parent}" />
            <child link="${name}" />
        </joint>

        <link name="${name}">
            <visual>
                <!-- <origin xyz="0 0 0.05" rpy="0 0 0"/> -->
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <!-- <box size="0.156 0.05 0.1"/> -->
                    <mesh filename="package://gocator_3100/urdf/gocator_3109a.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="Gocator/Black"/>
            </visual>
            <collision>
                <origin xyz="0 0 0.05" rpy="0 0 0"/>
                <geometry>
                    <box size="0.156 0.05 0.1"/>
                </geometry>
            </collision>
        </link>
        
        <!-- TODO: Grow a cylinder to Y>0 to model the conector (radius 1cm, length 4cm) -->
        
        <joint name="${name}_point_cloud_anchor" type="fixed" >
            <parent link="${name}"/>
            <child link="${name}_point_cloud"/>
            <origin xyz="0 0 ${0.0942+0.157+0.035}" rpy="0 3.141592 -1.570796"/>  <!--27.9cm from parent -->
        </joint>       

        <link name="${name}_point_cloud"/>
            
        <gazebo reference="${name}">
            <static>true</static>
        </gazebo>
    </xacro:macro>

</robot>