<?xml version="1.0"?>

<!-- Launches gocator_3100 acquisition component, and visualization according rviz param  -->

<launch>

    <!-- User Args  -->
    <arg name="rviz" default="true" doc="rviz visualization or not"/>
    <arg name="model_tf" default="true" doc="3D model visualization and tf"/>
    <arg name="config_file" default="$(find gocator_3100)/config/gocator_3100_params.yaml" doc="3D model visualization and tf"/>
    <arg name="model" default="gocator_3109_example" doc="Select among available models: gocator_3109_example or gocator_example" />

    <!--3D model as a robot robot description and tf-->
    <group if="$(arg model_tf)">
    
        <!-- Load robot description -->
        <param 
            name="robot_description" 
            command="$(find xacro)/xacro.py $(find gocator_3100)/urdf/$(arg model).urdf.xacro"/>
            
        <!-- Run joint state publisher (Gets robot_description from parameter server)-->
        <node 
            pkg="joint_state_publisher"
            type="joint_state_publisher"
            name="gocator_joint_state_publisher" >
        </node>

        <!-- Run state publisher (Gets robot_description from parameter server)-->
        <node 
            pkg="robot_state_publisher"
            type="robot_state_publisher"
            name="gocator_state_publisher" >
            <param name="~publish_frequency" value="5" />
        </node>
    </group>
    
    <!-- goactor_3100 node -->
    <node   
        pkg="gocator_3100"
        type="gocator_3100"
        name="gocator_3100"
        output="screen">
<!--         <rosparam command="load" file="$(find gocator_3100)/config/gocator_3100_params.yaml"/> -->
        <rosparam command="load" file="$(arg config_file)"/>
    </node>      
    
    <!--visualization-->
    <group if="$(arg rviz)">
        <node 
            name="rviz"
            pkg="rviz"
            type="rviz" 
            args="-d $(find zyx_scanner_robot)/rviz/demo1.rviz">
        </node>
    </group>
    
</launch>

